<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snb.deal.mapper.plan.PlanPortfolioRelRecordMapper">
  <resultMap id="BaseResultMap" type="com.snb.deal.entity.plan.PlanPortfolioRelRecordDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="paln_portfolio_rel_record_id" jdbcType="BIGINT" property="palnPortfolioRelRecordId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="plan_id" jdbcType="VARCHAR" property="planId" />
    <result column="third_portfolio_code" jdbcType="VARCHAR" property="thirdPortfolioCode" />
    <result column="third_portfolio_id" jdbcType="VARCHAR" property="thirdPortfolioId" />
    <result column="third_type" jdbcType="BIT" property="thirdType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="yn" jdbcType="BIT" property="yn" />
  </resultMap>

  <sql id="Base_Column_List">
    id, paln_portfolio_rel_record_id, user_id, plan_id, third_portfolio_code, third_portfolio_id, 
    third_type, create_time, update_time, yn
  </sql>

  <insert id="insertSelective" parameterType="com.snb.deal.entity.plan.PlanPortfolioRelRecordDO">
    insert into plan_portfolio_rel_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="palnPortfolioRelRecordId != null">
        paln_portfolio_rel_record_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="planId != null">
        plan_id,
      </if>
      <if test="thirdPortfolioCode != null">
        third_portfolio_code,
      </if>
      <if test="thirdPortfolioId != null">
        third_portfolio_id,
      </if>
      <if test="thirdType != null">
        third_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="yn != null">
        yn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="palnPortfolioRelRecordId != null">
        #{palnPortfolioRelRecordId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="planId != null">
        #{planId,jdbcType=VARCHAR},
      </if>
      <if test="thirdPortfolioCode != null">
        #{thirdPortfolioCode,jdbcType=VARCHAR},
      </if>
      <if test="thirdPortfolioId != null">
        #{thirdPortfolioId,jdbcType=VARCHAR},
      </if>
      <if test="thirdType != null">
        #{thirdType,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="yn != null">
        #{yn,jdbcType=BIT},
      </if>
    </trim>
  </insert>
</mapper>