<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.snb.deal.mapper.plan.PlanExecuteRecordMapper">
  <resultMap id="BaseResultMap" type="com.snb.deal.entity.plan.PlanExecuteRecordDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="plan_execute_record_id" jdbcType="BIGINT" property="planExecuteRecordId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="plan_info_id" jdbcType="BIGINT" property="planInfoId" />
    <result column="third_plan_id" jdbcType="VARCHAR" property="thirdPlanId" />
    <result column="account_number" jdbcType="VARCHAR" property="accountNumber" />
    <result column="merchant_number" jdbcType="VARCHAR" property="merchantNumber" />
    <result column="execute_time" jdbcType="TIMESTAMP" property="executeTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="yn" jdbcType="TINYINT" property="yn" />
  </resultMap>

  <sql id="Base_Column_List">
    id, plan_execute_record_id, user_id, plan_info_id, third_plan_id, account_number,
    merchant_number, execute_time, create_time, update_time, yn
  </sql>

  <sql id="Insert_Column_List">
    plan_execute_record_id, user_id, plan_info_id, third_plan_id, account_number,
    merchant_number, execute_time
  </sql>

  <select id="selectByMerchantNumber" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    from plan_execute_record where merchant_number=#{merchantNumber} AND yn=0
  </select>

  <insert id="insertBatch" parameterType="java.util.List">

    insert into plan_execute_record
    (
      <include refid="Insert_Column_List"/>
    ) VALUES
    <foreach collection="list" item="item" index="index"
             separator=",">
      (
      #{item.planExecuteRecordId,jdbcType=BIGINT},
      #{item.userId,jdbcType=VARCHAR},
      #{item.planInfoId,jdbcType=VARCHAR},
      #{item.thirdPlanId,jdbcType=VARCHAR},
      #{item.accountNumber,jdbcType=VARCHAR},
      #{item.merchantNumber,jdbcType=VARCHAR},
      #{item.executeTime,jdbcType=TIMESTAMP}
      )
    </foreach>

  </insert>

  <select id="selectByUserIdAndPlanInfoId" resultMap="BaseResultMap">
    SELECT
    <include refid="Insert_Column_List"/>
    from plan_execute_record
    where user_id=#{userId} AND plan_info_id=#{planInfoId} ORDER BY execute_time DESC LIMIT 1
  </select>
</mapper>