<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="stdout" class="com.jianlc.tc.logback.plugin.TracerConsoleAppender">
        <Target>System.out</Target>
        <layout class="com.snb.common.logback.CustomerPatternLayout">
            <Pattern>%d [%p] [%ip] [%C:%L] [%X{traceId}/%X{spanId}] - %m %n</Pattern>
        </layout>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>
    <logger name="org.springframework" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="stdout" />
    </root>
</configuration>